@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: url(https://templated.co/items/demos/industrious/images/bg.jpg);
    font-family: 'Raleway', sans-serif;
    color: #444444;
}

header {
    background-color: #111111;
    padding: 20px 23px;
    font-size: 17px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: inline-block;
}

header div {
    display: inline-block;
    float: right;
}

header div p {
    color: #888888;
}

.banner-section {
    position: relative;
    text-align: center;
}

.video-title {
    position: absolute;
    top: 50%;
    left: 0;
}

.video-title h1 {
    font-size: 64px;
    color: white;
}

.video-title p {
    font-size: 24px;
}

.company-icons {
    background:rgba(255,255,255, 0.9);
    padding: 104px 0;
}

.company-icons>div {
    margin: 0 auto;
}

.icons-title {
    text-align: center;
    width: 54%;
}

.icons-title h2 {
    font-size: 36px;
    color: #555555;
    margin-bottom: 24px;
}

.icons-title p {
    width: 85%;
    margin: 0 auto 32px;
    line-height: 30px;
    color: #444444;
    font-size: 15px;
}

.company-offers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0 0;
    width: 75%;
}

.company-offers div {
    width: 320px;
    text-align: center;
    background-color: white;
    line-height: 1.5;
    padding: 48px;
    height: 356px;
    margin: 0 25px 25px 0;
}

